body {
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(#0a001a, #000);
    margin: 0;
    padding: 40px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.card h2 {
    margin: 15px 0 0 0;
    font-size: 20px;
    color: #444;
}

.btn {
  display: inline-block;
  background: #b976ff;
  color: black;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}

.btn:hover {
  background: #ff4ecf;
}

nav {
  margin-top: 20px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

nav a:hover, nav a.active {
  color: #b976ff;
}
